name: aocl
on: workflow_dispatch
env:
  ARCHIVE: ""
jobs:
  aocl:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone
        uses: actions/checkout@v6
        with:
          repository: amd/aocl
      - name: Patch
        run: |
          export ARCHIVE=aocl-${{ matrix.os }}.tar.gz
          echo "ARCHIVE=$ARCHIVE" >> "$GITHUB_ENV"
          cmake --preset aocl-linux-make-lp-ga-gcc-config -DBUILD_SHARED_LIBS=OFF -DENABLE_AOCL_COMPRESSION=OFF -DENABLE_AOCL_SPARSE=OFF -DENABLE_AOCL_CRYPTO=OFF -DENABLE_AOCL_DA=OFF -DENABLE_AOCL_LIBMEM=OFF -DCMAKE_INSTALL_PREFIX=aocl-install --fresh
          cmake --build build --config Release --target install --parallel
          tar cvzf $ARCHIVE -C aocl-install .
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.ARCHIVE }}
          asset_name: ${{ env.ARCHIVE }}
          tag: latest
          overwrite: true
