name: hdf5
on: workflow_dispatch
env:
  version: 2.0.0
  download_url: https://support.hdfgroup.org/releases/hdf5/v2_0/v2_0_0/downloads/hdf5-2.0.0.tar.gz
jobs:
  hdf5-linux:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: Compile
        run: |
          wget -q ${{ env.download_url }} && tar xf hdf5-${{ env.version }}.tar.gz
          mkdir packing && mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DHDF5_ENABLE_Z_LIB_SUPPORT=OFF -DCMAKE_INSTALL_PREFIX=../packing ../hdf5-${{ env.version }}
          cmake --build . --target install --config Release --parallel
          cd ../packing && tar cvzf ../HDF5-${{ env.version }}-${{ matrix.os }}.tar.gz ./*
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: HDF5-${{ env.version }}-${{ matrix.os }}.tar.gz
          asset_name: HDF5-${{ env.version }}-${{ matrix.os }}.tar.gz
          tag: latest
          overwrite: true
  hdf5-macos:
    strategy:
      matrix:
        os: [macos-14-large, macos-15-large, macos-14-xlarge, macos-15-xlarge]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: Compile
        run: |
          export CC=gcc-13 && export CXX=g++-13 && export FC=gfortran-13
          wget -q ${{ env.download_url }} && tar xf hdf5-${{ env.version }}.tar.gz
          mkdir packing && mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DHDF5_ENABLE_Z_LIB_SUPPORT=OFF -DCMAKE_INSTALL_PREFIX=../packing ../hdf5-${{ env.version }}
          cmake --build . --target install --config Release --parallel
          cd ../packing && tar cvzf ../HDF5-${{ env.version }}-${{ matrix.os }}.tar.gz ./*
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: HDF5-${{ env.version }}-${{ matrix.os }}.tar.gz
          asset_name: HDF5-${{ env.version }}-${{ matrix.os }}.tar.gz
          tag: latest
          overwrite: true
  hdf5-win:
    runs-on: windows-2025
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: Compile
        run: |
          C:/msys64/usr/bin/wget.exe -q ${{ env.download_url }} && tar xf hdf5-${{ env.version }}.tar.gz
          mkdir packing && mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DHDF5_ENABLE_Z_LIB_SUPPORT=OFF -DCMAKE_INSTALL_PREFIX="D:\a\prebuilds\prebuilds\packing" ../hdf5-${{ env.version }}
          cmake --build . --target install --config Release --parallel
          cd ../packing && 7z a ../HDF5-${{ env.version }}-win.zip ./*
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: HDF5-${{ env.version }}-win.zip
          asset_name: HDF5-${{ env.version }}-win.zip
          tag: latest
          overwrite: true
  hdf5-win-gcc:
    runs-on: windows-2025
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: GCC
        uses: bwoodsend/setup-winlibs-action@v1
        id: winlibs
        with:
          tag: 13.3.0posix-11.0.1-ucrt-r1
      - name: Compile
        run: |
          C:/msys64/usr/bin/wget.exe -q ${{ env.download_url }} && tar xf hdf5-${{ env.version }}.tar.gz
          mkdir packing && mkdir build && cd build
          cmake -G "MinGW Makefiles" -DCMAKE_C_COMPILER=${{ steps.winlibs.outputs.bin }}/gcc.exe -DCMAKE_CXX_COMPILER=${{ steps.winlibs.outputs.bin }}/g++.exe -DCMAKE_Fortran_COMPILER=${{ steps.winlibs.outputs.bin }}/gfortran.exe -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DHDF5_ENABLE_Z_LIB_SUPPORT=OFF -DCMAKE_INSTALL_PREFIX="D:\a\prebuilds\prebuilds\packing" ../hdf5-${{ env.version }}
          cmake --build . --target install --config Release --parallel
          cd ../packing && 7z a ../HDF5-${{ env.version }}-win-gcc.zip ./*
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: HDF5-${{ env.version }}-win-gcc.zip
          asset_name: HDF5-${{ env.version }}-win-gcc.zip
          tag: latest
          overwrite: true
