name: mimalloc
on: workflow_dispatch
env:
  ARCHIVE: ""
jobs:
  mimalloc:
    strategy:
      matrix:
        os:
          [
            ubuntu-24.04,
            ubuntu-24.04-arm,
            macos-14-large,
            macos-15-large,
            macos-14-xlarge,
            macos-15-xlarge,
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Compile
        run: |
          export ARCHIVE=mimalloc-${{ matrix.os }}.tar.gz
          echo "ARCHIVE=$ARCHIVE" >> "$GITHUB_ENV"
          git clone --depth 1 --branch v2.2.3 https://github.com/microsoft/mimalloc.git
          mkdir mimalloc-install && mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../mimalloc-install ../mimalloc
          cmake --build . --target install --config Release --parallel 4
          cd ..
          tar cvzf $ARCHIVE -C mimalloc-install .
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.ARCHIVE }}
          asset_name: ${{ env.ARCHIVE }}
          tag: latest
          overwrite: true
