name: mimalloc-win
on: workflow_dispatch
jobs:
  mimalloc-win:
    strategy:
      matrix:
        archive: [mimalloc-win.7z, mimalloc-win-gcc.7z]
    runs-on: windows-2025
    steps:
      - name: GCC
        if: matrix.archive == 'mimalloc-win-gcc.7z'
        uses: bwoodsend/setup-winlibs-action@v1
        id: winlibs
        with:
          tag: 13.3.0posix-11.0.1-ucrt-r1
      - name: Compile
        shell: bash
        run: |
          git clone --depth 1 --branch v2.2.4 https://github.com/microsoft/mimalloc.git
          mkdir mimalloc-install && mkdir build && cd build
          if [ ${{ matrix.archive }} == 'mimalloc-win-gcc.7z' ]; then
            BIN_POSIX="${{ steps.winlibs.outputs.bin }}"
            BIN_POSIX="${BIN_POSIX//\\//}"
            export CC=$BIN_POSIX/gcc.exe && \
            export CXX=$BIN_POSIX/g++.exe && \
            export FC=$BIN_POSIX/gfortran.exe && \
            cmake -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../mimalloc-install ../mimalloc
          else
            cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../mimalloc-install ../mimalloc
          fi
          cmake --build . --target install --config Release --parallel 4
          cd ../mimalloc-install && 7z a ../${{ matrix.archive }} ./*
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.archive }}
          asset_name: ${{ matrix.archive }}
          tag: latest
          overwrite: true
