name: openblas-win
on: workflow_dispatch
jobs:
  openblas-win:
    strategy:
      matrix:
        version: [0.3.30]
        indexing: [32]
    runs-on: windows-2025
    steps:
      - name: CMD
        uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: x64
      - name: Compile
        run: |
          C:/msys64/usr/bin/wget.exe -q https://github.com/brechtsanders/winlibs_mingw/releases/download/13.3.0posix-11.0.1-ucrt-r1/winlibs-x86_64-posix-seh-gcc-13.3.0-mingw-w64ucrt-11.0.1-r1.7z
          7z x winlibs-x86_64-posix-seh-gcc-13.3.0-mingw-w64ucrt-11.0.1-r1.7z
          C:/msys64/usr/bin/wget.exe -q https://github.com/xianyi/OpenBLAS/releases/download/v${{ matrix.version }}/OpenBLAS-${{ matrix.version }}.zip
          7z x OpenBLAS-${{ matrix.version }}.zip && cd OpenBLAS-${{ matrix.version }}
          C:/msys64/usr/bin/sed.exe -i "s@# CC = gcc@CC = D:/a/prebuilds/prebuilds/mingw64/bin/gcc.exe@g" Makefile.rule
          C:/msys64/usr/bin/sed.exe -i "s@# FC = gfortran@FC = D:/a/prebuilds/prebuilds/mingw64/bin/gfortran.exe@g" Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# DYNAMIC_ARCH = 1/DYNAMIC_ARCH = 1/g' Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# BINARY=64/BINARY=64/g' Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# USE_THREAD = 0/USE_THREAD = 1/g' Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# USE_OPENMP = 1/USE_OPENMP = 1/g' Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# NUM_THREADS = 24/NUM_THREADS = 64/g' Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# NO_CBLAS = 1/NO_CBLAS = 1/g' Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# NO_LAPACKE = 1/NO_LAPACKE = 1/g' Makefile.rule
          C:/msys64/usr/bin/sed.exe -i 's/# GEMM_MULTITHREAD_THRESHOLD = 4/GEMM_MULTITHREAD_THRESHOLD = 64/g' Makefile.rule
          if ("${{ matrix.indexing }}" -eq "64") {
            & "C:/msys64/usr/bin/sed.exe" -i 's/# INTERFACE64 = 1/INTERFACE64 = 1/g' Makefile.rule
          }
          make
          cd exports && lib.exe /def:libopenblas.def /out:libopenblas.lib /machine:x64 && cd ..
          7z a ../OpenBLAS-${{ matrix.version }}-win-${{ matrix.indexing }}.7z libopenblas.* exports/*.*
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: OpenBLAS-${{ matrix.version }}-win-${{ matrix.indexing }}.7z
          asset_name: OpenBLAS-${{ matrix.version }}-win-${{ matrix.indexing }}.7z
          tag: latest
          overwrite: true
