name: tbb-win
on: workflow_dispatch
jobs:
  tbb-win-vs:
    runs-on: windows-2022
    steps:
      - name: Compile
        run: |
          git clone --depth 1 --branch v2022.3.0 https://github.com/uxlfoundation/oneTBB.git
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DTBB_TEST=OFF -DCMAKE_INSTALL_PREFIX=D:/a/prebuilds/prebuilds/tbb-win-vs ../oneTBB
          cmake --build . --target install --config Release --parallel 4
          cd ../tbb-win-vs
          7z a ../tbb-win-vs.7z ./*
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: tbb-win-vs.7z
          asset_name: tbb-win-vs.7z
          tag: latest
          overwrite: true
  tbb-win-gcc:
    runs-on: windows-2022
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: GCC
        uses: bwoodsend/setup-winlibs-action@v1
        id: winlibs
        with:
          tag: 13.3.0posix-11.0.1-ucrt-r1
      - name: Compile
        run: |
          git clone --depth 1 --branch v2022.3.0 https://github.com/uxlfoundation/oneTBB.git
          mkdir build && cd build
          cmake -G "MinGW Makefiles" `
          -DCMAKE_CXX_FLAGS="-D_WIN32_WINNT=0x0A00 -DNTDDI_VERSION=0x0A000002" `
          -DCMAKE_BUILD_TYPE=Release `
          -DCMAKE_C_COMPILER=${{ steps.winlibs.outputs.bin }}/gcc.exe `
          -DCMAKE_CXX_COMPILER=${{ steps.winlibs.outputs.bin }}/g++.exe `
          -DCMAKE_Fortran_COMPILER=${{ steps.winlibs.outputs.bin }}/gfortran.exe `
          -DCMAKE_INSTALL_PREFIX=D:/a/prebuilds/prebuilds/tbb-win-gcc `
          -DTBB_TEST=OFF `
          ../oneTBB
          cmake --build . --target install --config Release --parallel 4
          cd ../tbb-win-gcc
          7z a ../tbb-win-gcc.7z ./*
      # - name: Debug
      #   if: failure()
      #   uses: mxschmitt/action-tmate@v3
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: tbb-win-gcc.7z
          asset_name: tbb-win-gcc.7z
          tag: latest
          overwrite: true
